/* SocialProof.scss */
.social-proof {
  display: flex;
  flex-direction: column;
  place-content: center;
  min-height: 100vh;
  padding: 4rem 2rem;
  background: #f9f9f9;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
  }

  //Each card needs at least 250px. Fit as many as possible per row. Stretch them nicely
  &__certificates {
    display: grid;
    width: 80vw;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--space-md);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-md);
  }
}
