services:
  server:
    build:
      context: ./server
    ports:
      - "1337:1337"
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build:
      context: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - server

  db:
    image: "mysql:8.0"
    container_name: rcc_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mysql123
      MYSQL_DATABASE: rcc_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
