@use "../../../../styles/util/breakpoints" as u;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 6rem;
    text-align: left;
  }

  &__title {
    // font-size: var(--fs-2xl);
    // font-size: 400px;
    font-size: clamp(3.5rem, 1.5rem + 2vw, 5rem);
    line-height: 1.3;
  }

  &__subtitle {
    font-size: var(--fs-sm);
  }

  &__image {
    width: 500px;
    height: 600px;
    object-fit: cover;
    object-position: 90% 20%; // y x
    border-radius: 20px;
  }

  &__action {
    width: fit-content;
    padding: 16px;
  }



}
