.pricing-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xl);
  min-height: 100vh;

  &__title {
    font-weight: 600;
    line-height: 42px;
    text-align: center;
  }

  &__wrapper {
    display: grid;
    gap: var(--space-lg);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    width: 70%;

    // align-items: stretch; //key
  }


}
