:root {
  /* ===== ESSENTIALS ===== */
  --navbar-height: 80px;

  /* ===== SPACING ===== */
  --space-xs: .25rem;
  --space-sm: .5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;

  /* ===== RADIUS ===== */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}
