:root {
  /* ===== ESSENTIALS ===== */
  --navbar-height: 80px;

  /* ===== FONT-SIZE ===== */
  --fs-xs: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);
  --fs-sm: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);
  --fs-md: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  --fs-lg: clamp(1.25rem, 1rem + 1vw, 1.75rem);
  --fs-xl: clamp(1.5rem, 1.2rem + 1.5vw, 2.25rem);
  --fs-2xl: clamp(2rem, 1.5rem + 2vw, 3rem);

  /* ===== SPACING ===== */
  --space-xs: .25rem;
  --space-sm: .5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;

  /* ===== RADIUS ===== */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}
