.section {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  &__heading {
    font-size: 1rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }


  &__link {
    padding: 0;
    font-size: 1rem;
  }
}
