// @use "../../../../../styles/util/" as u;
@use "@styles/util" as u;


.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;


  &__title {
    font-weight: normal;
  }

  &__subtitle {
    padding: .4rem;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }

  &__grid {
    display: grid;
    align-items: stretch;
    gap: var(--space-xl);
    // grid-template-columns: repeat(1, minmax(250px, 3fr));
    grid-template-columns: 1fr;
    padding: 2rem;

    @include u.bp(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include u.bp(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
