.btn {
  width: 100%;
  padding: .5rem 1rem;
  font-weight: 500;
  background: var(--color-primary);
  border: none;
  border-radius: .5rem;
  transition: .2s ease;
  cursor: pointer;

  &--primary {
    color: #f5f5f5;

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid green;

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &--tertiary {
    background: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
