.header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  height: var(--navbar-height);
  background: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
  backdrop-filter: blur(8px);


  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    height: 100%;
    margin-inline: auto;
    padding: .2rem 0;
  }

  &__logo {
    width: auto;
    height: 100%;
  }

  &__logo-img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  &__actions {
    display: flex;
    gap: 2rem;

  }
}
